.LandingMainSection {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LandingMainSection_title {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: LandingMainSection_showAnim 1s;
}

.LandingMainSection_desc {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 2px;
    animation: LandingMainSection_showAnim 2s;
}

.LandingMainSection_play {
    margin-top: 30px;
    animation: LandingMainSection_showAnim2 2s;
}

.LandingMainSection_down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    user-select: none;
}

.LandingMainSection_down_btn {
    display: inline-block;
    cursor: pointer;
    transition: all 250ms;
    animation: LandingMainSection_showAnim2 2s;
}

.LandingMainSection_down_btn:hover {
    color: #ffab30;
    text-shadow: 0px 0px 10px rgba(139, 163, 0, 0.5);
}

.LandingMainSection_down_btn_label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.LandingMainSection_down_btn_icon {
    font-size: 25px;
    margin-top: -5px;
}

@media screen and (max-width: 900px) {
    .LandingMainSection_title {
        font-size: 52px;
        line-height: 60px;
        padding: 0px 15px;
    }

    .LandingMainSection_desc {
        padding: 0px 10px;
        margin-top: 20px;
    }
}