.LandingHowSection {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.LandingHowSection_title1 {
    margin-top: 110px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 2px;
}

.LandingHowSection_title2 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 15px;
}

.LandingHowSection_sides {
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.LandingHowSection_sides_left {
    width: 50%;
}

.LandingHowSection_sides_left_title1 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.LandingHowSection_sides_left_title2 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

.LandingHowSection_sides_left_title2_button {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.LandingHowSection_sides_left_desc {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 8px;
}

.LandingHowSection_sides_left_logos {
    margin-top: 20px;
}

.LandingHowSection_sides_left_logos_img {
    display: block;
}

@media screen and (max-width: 900px) {
    .LandingHowSection_title1 {
        margin-top: 20px
    }

    .LandingHowSection_title2 {
        font-size: 60px;
        padding: 0px 40px;
        line-height: 70px;
    }

    .LandingHowSection_sides {
        margin-top: 15px;
    }
    
    .LandingHowSection_sides_left {
        width: auto;
    }

    .LandingHowSection_sides {
        padding: 0px 15px;
    }

    .LandingHowSection_sides_left_title2 {
        font-size: 50px;
        line-height: 65px;
    }

    .LandingHowSection_sides_left_title2_button {
        position: static;
    }

    .LandingHowSection_sides_left_logos {
        display: none;
    }

    .LandingHowSection_sides_left_desc {
        margin-top: 20px;
    }
}